* {
    margin: 0;
    padding: 0;
}

.main {
    opacity: 96%;
}

.brand img{
    position: absolute;
    opacity: 70%;
    left: 8px;
    top: 0px;
    height: 110px;
    width: 110px;
    background: no-repeat;
    text-indent: -999em;
    text-decoration: none;
    display: flex;
    
}

.main h2 {
    color: whitesmoke;
    transform: translate(0%,90%);
    font-size: 70px;
    padding: 15px;
    opacity: 100%;
}